<?xml version="1.0" encoding="utf-8"?><XmlMetadata><Name>Server.cs</Name><LastModified>11/25/2013 9:25:20 PM</LastModified><Version /><Description>Contains code for the operation of the server</Description><Dependancies><Dependancy>none</Dependancy></Dependancies><Keywords><Keyword>server</Keyword><Keyword>important</Keyword></Keywords><Categories><Category>code</Category></Categories></XmlMetadata>